[Unit]
Description=Start the serviio DLNA server in headless mode
After=local-fs.target network.target

[Service]
Type=simple
User=root
ExecStart=/usr/share/java/serviio/bin/serviio.sh
ExecStop=/usr/share/java/serviio/bin/serviio.sh -stop
Restart=on-abort

[Install]
WantedBy=multi-user.target
